# Maven / Spring Boot
target/
*.jar
*.war
*.ear
*.class

# Python

__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.venv/
venv/
ENV/
env/

# Databases
*.db
*.sqlite
*.sqlite3

# IDEs and Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store

# Auto-commit logs
autocommit.log
